:root {
	--bg-color-left: #484E5E;
	--bg-color-right: #FEFFFA;
	--text-color-dev: #D5DBDF;
	--text-color: #FAE5D2;
	--text-color-right: #372518;
	--back-color-right: #FFE7D4;
}

html {
	background-color: white;
}

body {
	margin: auto;
	height: 100vh;
	aspect-ratio: 0.7;
	border: 2px blue solid;
}

main {
	width: 100%;
	height: 100%;
	display: flex;
	overflow: hidden;
	border-radius: 15px;
}

.left-side {
	width: 40%;
	height: 100%;
	background-color: var(--bg-color-left);
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	padding: 0 3%;
}

.photo {
	width: 70%;
	border-radius: 50%;
	align-self: center;
	padding: 5%;
}

h1,
h2,
h3,
h4,
h5,
p,
ul {
	margin: 0;
	padding: 0;
	font-family: 'Monseratt';
}

h1,
h3 {
	color: var(--text-color);
	padding: 20px 0 10px;
}

h2,
ul,
li,
p {
	color: var(--text-color-dev);
}

h1 {
	font-size: 1.8em;
}

h1,
h2 {
	padding: 10px 0;
}

h2 {
	font-size: 1em;
	white-space: nowrap;
}

ul {
	list-style-type: none;
}

li,
p {
	padding: 1% 0;
}

.right-side {
	width: 60%;
	height: 100%;
	background-color: var(--bg-color-right);
	box-sizing: border-box;
	padding: 5% 10%;
}

.right-side p,
.right-side h2,
.right-side h3 {
	color: var(--text-color-right);
}

.right-side h2 {
	display: block;
	background-color: var(--back-color-right);
}

.right-side h2,
.right-side h3,
.right-side h4 {
	box-sizing: border-box;
	padding: 0;
}

.right-side h2 {
	margin: 15px 0 8px;
	font-size: 28px;
	padding: 0 10px;
}

.right-side h3 {
	margin: 15px 0 5px;
	font-size: 26px;
}

.right-side h4 {
	font-size: 20px;
	margin: 5px 0;
}

.right-side h5 {
	font-size: 18px;
	margin: 5px 0;
}

.right-side p,
.right-side li {
	font-size: 18px;
	line-height: 110%;
	word-spacing: 2px;
	font-family: 'Monseratt-l';
	font-weight: 500;
}

.right-side li {
	color: var(--text-color-right);
	list-style-type: circle;
	font-family: 'Monseratt-l';
	padding: 0;
	line-height: 120%;
}

.social>li {
	position: relative;
	font-size: 0.7em;
	margin: 0.1em 0;
}

.social>li::before {
	content: '';
	display: block;
	position: absolute;
	left: -1em;
	width: 1em;
	height: 1em;
	background-size: contain;
}

.linkedin::before {
	background-image: url(./pictures/in.png);
}

.github::before {
	background-image: url(./pictures/git.png);
}

.mail::before {
	background-image: url(./pictures/mail.png);
}

.tel::before {
	background-image: url(./pictures/phone.png);
}

.location::before {
	background-image: url(./pictures/location.png);
}





@font-face {
	font-family: "Collegia";
	src: url("fonts/COLLEGIA.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "Monseratt";
	src: url("fonts/Montserrat.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "Monseratt-l";
	src: url("fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}